* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    color: inherit;
    line-height: unset;
    font-size: unset;
    font-weight: unset;
}

/* Plan to have these words float around the background (like the bouncing screensavers) */

.word-float {
    display: none;
    position: absolute;
}

html,
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

nav {
    height: 10vh;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
}

nav li {
    padding: 15px;
    background: green;
    color: white;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    margin: auto;
}

.welcome {
    background-image: url(self-placeholder.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
    padding: 200px;
}

#mylanguages {
    border: 1px solid black;
}

#mylanguages ul {
    margin: 30px;
    display: flex;
    flex-direction: row;
}

#mylanguages li {
    padding: 30px;
    background: green;
    width: 155px;
}



footer {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 150px;
}

#mylogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(placeholder.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 300px;
}

#mylogo p {
    text-align: center;
}

#mysocialmedia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: -50px;
    margin-right: 50px;
}

#mysocialmedia figcaption {
    padding: 25px;
}

footer li {
    display: inline;
    padding: 10px;
}