* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
    list-style-type: none;
    font-family: 'MedievalSharp', cursive;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

body {
    background-color: #f2d7ac;
    box-shadow: inset 0px 0px 60px 5px #dab171;
}

nav {
    display: block;
    padding: 10px;
}

nav li {
    display: inline;
}

.banner {
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}



.character-image {
    text-align: center;
    padding: 35px;
    background-image: url(assets/about_me_pics/background-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 15px 20px;
    box-shadow: 0px 0px 10px 3px #333;
}

#character-doll {
    height: 350px;
    border-radius: 25px;
    border: 1px solid #765842;
    box-shadow: inset 0px 0px 100px 10px #e2cb97;
}

.backstory,
.stats,
.family,
.hobbies {
    display: none;
}

.stat-bars {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.stat-bars article {
    text-align: center;
    padding: 13px;
    margin: 4px 10px;
    border: 3px solid #765842;
    /* box-shadow: inset 0px 0px 1px 10px #a1715f; */
    box-shadow: 0px 0px 10px 1px #333;
    background-image: url(assets/about_me_pics/wood.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#scroll-btn {
    position: absolute;
    right: 25%;
    bottom: 175px;
    z-index: -1;
    background-color: transparent;
}



footer {
    margin: 10px 20px;
}

/* mobile styling */
@media (max-width:412) {
    .stat-bars {}
}

/* mobile specific nav-bar */
@media (max-width:412px) {
    header {
        float: right;
    }

    #menu__toggle {
        opacity: 0;
    }

    #menu__toggle:checked+.menu__btn>span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked+.menu__btn>span::before {
        top: 0;
        transform: rotate(0deg);
    }

    #menu__toggle:checked+.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked~.menu__box {
        right: 0% !important;
        left: unset
    }

    .menu__btn {
        position: fixed;
        top: 20px;
        right: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 3;
    }

    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: black;
        transition-duration: .25s;
    }

    .menu__btn>span::before {
        content: '';
        top: -8px;
    }

    .menu__btn>span::after {
        content: '';
        top: 8px;
    }

    .menu__box {
        display: block;
        position: fixed;
        top: 0;
        left: 100%;
        width: 150px;
        height: 100%;
        margin: 0;
        padding: 33px 0;
        background-color: #ebd5b3;
        box-shadow: inset 0px 0px 60px 5px #dab171;
        border: 1px solid #765842;
        transition-duration: .25s;
        z-index: 2;
    }

    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        transition-duration: .25s;
    }

    #filter-layer {
        z-index: 1;
        opacity: 100%;
    }
}


/* browser specific styling */
@media (min-width:413px) {}