/* adding colors to use */
:root {
    --congo-pink: #FA8E83ff;
    --misty-rose: #FEE3DCff;
    --baby-pink: #F3C9BDff;
    --medium-turquoise: #4BD1CBff;
    --tiffany-blue: #01BCBBff;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: bold;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

/* this applies to both browser and mobile styling ----------------------------------------------------------------------------------------------------- */
.menu__item:hover {}

/* just turns the sidebar into a hamburger menu for mobile ---------------------------------------------------------------------------------------------*/

@media (max-width:412px) {

    #menu__toggle {
        opacity: 0;
    }

    #menu__toggle:checked+.menu__btn>span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked+.menu__btn>span::before {
        top: 0;
        transform: rotate(0deg);
    }

    #menu__toggle:checked+.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked~.menu__box {
        right: 0% !important;
        left: unset
    }

    .menu__btn {
        position: fixed;
        top: 20px;
        right: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 3;
    }

    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: black;
        transition-duration: .25s;
    }

    .menu__btn>span::before {
        content: '';
        top: -8px;
    }

    .menu__btn>span::after {
        content: '';
        top: 8px;
    }

    .menu__box {
        display: block;
        position: fixed;
        top: 0;
        left: 100%;
        width: 200px;
        height: 100%;
        margin: 0;
        padding: 33px 0;
        list-style: none;
        background-image: linear-gradient(230deg, #fafafa, #fafafa, var(--medium-turquoise), var(--medium-turquoise));
        box-shadow: 0px 0px 10px rgba(0, 0, 0, .4);
        transition-duration: .25s;
        z-index: 2;
    }

    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }
}

/* this is for the browser side nav bar ---------------------------------------------------------------------------------------------------------------- */
aside ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

aside a,
li {
    padding: 13px;
    background-size: cover;
}

aside {
    margin-top: 15px;
}

aside .menu__item {
    background: linear-gradient(transparent, transparent 50%, var(--medium-turquoise) 50%, var(--medium-turquoise));
    background-size: 100% 202%;
    transition: all 0.2s ease;
}

aside .menu__item:hover {
    background-position: 100% 100%;
    box-shadow: 0px 0px 10px #333;
    color: white;
}




/* saving these for some javascript fun ---------------------------------------------------------------------------------------------------------------- */

/* #html:hover{}

#css:hover {}

#javascript:hover {}

#python:hover {}

#excelvba:hover {} */


/* css for the hero picture ------------------------------------------------------------------------------------------------------------ */


.hero-wrap {
    text-align: center;
    display: block;
    height: 40vh;
}

.hero-image {
    opacity: .4;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
}

.welcome-text {
    position: relative;
    margin-top: 100px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
}

/* this is for inital styling for the languages and social boxes------------------------------------------------------------------------------------------------------------------------------ */

h4 {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

.box-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;

}

.box-cards div {
    border: .5px solid #333;
    margin: 20px;
}

.box-cards ul {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    min-width: 300px;
}

.box-cards div {
    border: .5px solid #333;
    margin: 20px;
    box-shadow: 0px 0px 5px #333;
}

/* This css is for the programming languages and social media boxes to change colors when hovering------------------------------------------------------------------------------------------ */
.box {
    background: linear-gradient(transparent, transparent 50%, var(--medium-turquoise) 50%, var(--medium-turquoise));
    background-size: 100% 202%;
    transition: all 0.2s ease;
}

.box:hover {
    background-position: 100% 100%;
    box-shadow: 0px 0px 10px #333;
}

.box:hover h4 {
    color: white;
}

.box:hover i {
    color: white;
}

/* this is browser specific styling ------------------------------------------------------------------------------------------------------- */
@media (min-width: 413px) {

    .hamburger-menu {
        display: none;
    }

    .hero-wrap {
        text-align: center;
        display: block;
        height: 40vh;
    }

    .hero-image {
        opacity: .3;
        position: fixed;
        left: 25%;
        top: 10%;
        height: 50vh;
        width: 50%;
        border-radius: 50%;
    }

    .hero-image {
        box-shadow: inset 0px 0px 0px 0px blue;
    }

    .welcome-text {
        position: relative;
        margin-top: 100px;
    }

    .box-cards {
        flex-direction: row;
        justify-content: space-evenly;
    }
}