:root {
    --congo-pink: #FA8E83ff;
    --misty-rose: #FEE3DCff;
    --baby-pink: #F3C9BDff;
    --medium-turquoise: #4BD1CBff;
    --tiffany-blue: #01BCBBff;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

/* just turns the sidebar into a hamburger menu for mobile ---------------------------------------------------------------------------------------------*/

@media (max-width:412px) {

    #menu__toggle {
        opacity: 0;
    }

    #menu__toggle:checked+.menu__btn>span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked+.menu__btn>span::before {
        top: 0;
        transform: rotate(0deg);
    }

    #menu__toggle:checked+.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked~.menu__box {
        right: 0% !important;
        left: unset
    }

    .menu__btn {
        position: fixed;
        top: 20px;
        right: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 3;
    }

    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: black;
        transition-duration: .25s;
    }

    .menu__btn>span::before {
        content: '';
        top: -8px;
    }

    .menu__btn>span::after {
        content: '';
        top: 8px;
    }

    .menu__box {
        display: block;
        position: fixed;
        top: 0;
        left: 100%;
        width: 200px;
        height: 100%;
        margin: 0;
        padding: 33px 0;
        list-style: none;
        background-image: linear-gradient(230deg, #fafafa, #fafafa, #fafafa, var(--medium-turquoise), var(--tiffany-blue));
        box-shadow: 0px 0px 10px rgba(0, 0, 0, .4);
        transition-duration: .25s;
        z-index: 2;
    }

    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }
}

/* this is for the brower side nav bar ---------------------------------------------------------------------------------------------------------------- */
aside li {
    display: inline;
}

.menu__item:hover {
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    background-image: linear-gradient(#fafafa, var(--tiffany-blue), #fafafa);
    box-shadow: 0px 0px 20px 5px var(--congo-pink);
}

/* saving these for some javascript fun ---------------------------------------------------------------------------------------------------------------- */

/* #html:hover{}

#css:hover {}

#javascript:hover {}

#python:hover {}

#excelvba:hover {} */

.hero-wrap {
    overflow: hidden;
    position: relative;
}

.hero-image {
    opacity: .4;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.welcome-text {
    position: relative;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
}


/* this is for inital styling for the languages and social boxes------------------------------------------------------------------------------------------------------------------------------ */
h4 {
    text-align: center;
    font-weight: bold;
}

.box-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.box-cards div {
    border: .5px solid #333;
    margin: 20px;
}

.box-cards ul {
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
    min-width: 300px;
}

.box-cards div {
    border: .5px solid #333;
    margin: 20px;
    box-shadow: 0px 0px 5px #333;
}

/* This css is for the programming languages and social media boxes to change colors when hovering------------------------------------------------------------------------------------------ */
.box {
    background: linear-gradient(white, white 50%, var(--medium-turquoise) 50%, var(--tiffany-blue));
    background-size: 100% 202%;
    transition: all 0.2s ease;
}

.box:hover {
    background-position: 100% 100%;
    box-shadow: 0px 0px 20px 5px var(--congo-pink);
}

.box:hover h4 {
    color: white;
}

.box:hover i {
    color: white;
}

/* this is browser specific styling ------------------------------------------------------------------------------------------------------- */
@media (min-width: 413px) {

    .hamburger-menu {
        display: none;
    }

    aside .menu__box {
        padding-top: 80px;
    }
}